# Node
node_modules/
.env
dist/
.vscode/
.DS_Store

# Python
python_backend/venv/
cache/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.so
.env
.venv
env/
venv/
ENV/
.python-version

# IDE
.idea/
*.swp
*.swo